alias v='nvim'
alias cmcd='cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=1'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias ls='eza --icons --color=always --group-directories-first'
alias player='if playerctl -l | grep -q "spotify"; then playerctl -p spotify "$@"; else playerctl "$@"; fi'
alias config='sudo nvim /etc/nixos/configuration.nix'
alias rebuild='sudo nixos-rebuild switch'
alias mirror='hyprctl keyword monitor eDP-1,1920x1080@60,0x0,1,mirror,HDMI-A-1'
alias docked='wlr-randr --output eDP-1 --off --output DP-1 --pos 0,0 --transform normal --output HDMI-A-1 --pos 1920,-560 --transform 90'
